
{% extends "base.html"%}

{% block content %}
<div class="form-container">
    {% if name  %}
    <h1 style="font-size: 24px; color: #333;">Hello {{ name }}</h1>
    {% else %}
    <br>
    <h1 class="display-3 text-white" style="margin: 40px 0px;">Sign Up</h1>
    <form method="POST" style="font-size: 16px; color: #333;">
        {{ form.hidden_tag() }}
        {{ form.csrf_token() }}

        {{ form.mail.label(class="form-label fs-4 text-white")}}
        <br>
        {{ form.mail(class='form-control',size =32) }}
        <br>
        {{ form.password.label(class="form-label fs-4 text-white",size =32) }}
        <br>
        {{ form.password(class='form-control ',size = 32) }}
        <br>
        {{ form.confirm.label(class="form-label fs-4 text-white",size=32) }}
        <br>
        {{ form.confirm(class="form-control",size =32) }}
        <br>
        <br>
        {{ form.submit(class="btn btn-primary w-100 p-3 fs-4") }}
    </form>
    <a class="text-white fs-5" 
        href="{{ url_for('login') }}"
        style="margin: 30px 0px;">
        Already have an account? Click here
    <a/>
            {% endif %}
</div>
{% endblock %}
